p{
    font-style: oblique;
    font-size: 40px;
}
a{
    color: grey;
    font-size: 20px;
}
ul {
    margin-top: 10%;
    margin-bottom: 90px;
    list-style-type: none;
    text-align: center;

  }
  
  li {
    background-color: #9c3e63;
    border: #D7C8B6 2px solid;
    display: inline;    
    padding: 20px;
    margin-right: 10%;
  }
  
  a.bot{
    color: black;


    text-decoration: none;
  }
  
  li:hover {
    background-color: white;
    color: #D7C8B6;
    padding: 20px;
    
  }